@page "/"

<PageTitle>Who's That Pokemon?</PageTitle>

<h1>Who's That Pokemon?</h1>

<div class="img-area">
    @if (_pokemonData?.Pokemon is not null)
    {
        <img src="@PokemonArtworkUrl" class="silhouette" alt="Pokémon silhouette" />
    }
</div>

<div class="pokemon-data invisible">
    @if (_pokemonData?.PokemonSpecies is not null)
    {
        <span class="generation data">@PrettyGenName</span>
    }
    @if (_pokemonData?.Pokemon is not null)
    {
        <ul class="types">
            <li style="background-color: @Type1NameColor?.Color">@Type1NameColor?.Name</li>
            @if (_pokemonData?.Pokemon.Types?.Length > 1)
            {
                <li style="background-color: @Type2NameColor?.Color">@Type2NameColor?.Name</li>
            }
        </ul>
    }
</div>

<div class="play-area">
    <div class="controls-new">
        <button @attributes="_newPokemonButtonAttributes" @onclick="async () => await FetchPokemon()">New Pokémon</button>
    </div>
    <div class="controls-answer">
        <button @attributes="_submitButtonAttributes" @onclick="HandleSubmit">Submit</button>
    </div>
    <div class="answer-area">
        <input @attributes="_userInputAttributes" @bind="_gameModel.UserInput" @onclick="ClearInput" />
    </div>
    <div class="idk">
        <button @attributes="_idkButtonAttributes" @onclick="DontKnow">I don't know!</button>
    </div>
</div>
