@page "/instructions"

<h3>How To Play</h3>

<ol>
    <li>Press "New Pokémon" to get a new question.</li>
    <li>Try to guess the Pokémon based on its silhouette. Type your answer in the input box, then press "Submit". (Answers are not case-sensitive.)</li>
    <li>If your answer is wrong, the box turns red and you can try again. If your answer is correct, the box turns green.</li>
    <li>See how many you can guess correctly!</li>
</ol>
