<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="instructions">How To Play</a>
        </li>
        <li>
            <a href="https://www.pokemon.com/us/pokedex/" target="_blank" rel="noopener noreferrer">Official Pokédex</a>
        </li>
    </ul>
</nav>
